<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>

<body>
    <h1>URL Shortener</h1>

    {% if not short_url %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Shorten</button>
        </form>
    {% endif %}

    {% if short_url %}
        <form method='GET' action={% url 'home' %}>
        <p>Shortened URL: <a href="{{ short_url }}">{{ request.build_absolute_uri }}{{ short_url}}</a></p>
        <button type='submit'> Add new URL </button>
        </form>
    {% endif %}
</body>
</html>